<a href="https://colab.research.google.com/github/kareemullah123456789/9ambatch/blob/master/ML_Model_Regression_using_MLlib2222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=892b39f392e5d3b5c300cdfad8e17ad51d330ca440bf529bb9cd62396e8de1af
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import os
os.environ["JAVA_HOME"]="/lib/jvm/java-11-openjdk-amd64"

In [3]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[2]"): This line creates a configuration object conf for the Spark application. It sets various properties such as the Spark UI port (spark.ui.port) to 4050, the application name to "films", and the master URL to "local[2]". "local[2]" means that the Spark application will run in local mode with 2 threads.

sc = SparkContext.getOrCreate(conf=conf): This line initializes the SparkContext (sc). SparkContext is the main entry point for Spark functionality. By calling getOrCreate(), it either gets the existing SparkContext or creates a new one with the provided configuration (conf).

sqlContext = SQLContext(sc): This line creates an SQLContext (sqlContext) using the initialized SparkContext (sc). SQLContext is a class provided by Spark SQL for working with structured data.

sc.stop(): This line stops the SparkContext. When you're done with your Spark application, it's important to stop the SparkContext to release the resources it holds, such as memory, CPU cores, and network connections.

In summary, the provided code sets up a Spark application with configuration parameters, initializes a SparkContext and an SQLContext, and then stops the SparkContext when it's no longer needed. The sc.stop() line is commented out, so it's not executed. If you were to uncomment this line and execute it, it would stop the SparkContext, effectively terminating the Spark application.

In [4]:
conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[2]")
sc = SparkContext.getOrCreate(conf=conf)
sqlContext = SQLContext(sc)
#sc.stop()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

house_df.cache(): This method is used to persist the DataFrame house_df in memory. Caching a DataFrame can improve the performance of iterative algorithms and actions that require multiple passes over the data by avoiding redundant computations. It's important to note that caching is lazy, meaning it doesn't materialize the DataFrame immediately. Instead, it marks it as cached, and Spark will cache it the first time it is materialized in an action.

house_df.printSchema(): This method prints out the schema of the DataFrame house_df. The schema defines the structure of the data, including column names and their data types.

By combining these two statements, you're first caching the DataFrame house_df in memory (if it's not already cached) and then printing its schema. This can be useful for understanding the structure of your data and ensuring that it's cached for better performance if needed in subsequent computations.

In [5]:
house_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('/content/Boston.csv')
house_df.show()

+---+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|_c0|   crim|  zn|indus|chas|  nox|   rm|  age|   dis|rad|tax|ptratio| black|lstat|medv|
+---+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|  1|0.00632|18.0| 2.31|   0|0.538|6.575| 65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|  2|0.02731| 0.0| 7.07|   0|0.469|6.421| 78.9|4.9671|  2|242|   17.8| 396.9| 9.14|21.6|
|  3|0.02729| 0.0| 7.07|   0|0.469|7.185| 61.1|4.9671|  2|242|   17.8|392.83| 4.03|34.7|
|  4|0.03237| 0.0| 2.18|   0|0.458|6.998| 45.8|6.0622|  3|222|   18.7|394.63| 2.94|33.4|
|  5|0.06905| 0.0| 2.18|   0|0.458|7.147| 54.2|6.0622|  3|222|   18.7| 396.9| 5.33|36.2|
|  6|0.02985| 0.0| 2.18|   0|0.458| 6.43| 58.7|6.0622|  3|222|   18.7|394.12| 5.21|28.7|
|  7|0.08829|12.5| 7.87|   0|0.524|6.012| 66.6|5.5605|  5|311|   15.2| 395.6|12.43|22.9|
|  8|0.14455|12.5| 7.87|   0|0.524|6.172| 96.1|5.9505|  5|311|   15.2| 396.9|19.15|27.1|
|  9|0.21124|12.5| 7.87|   0|0.524|5.631|100.0|6.0821|  5|311|   15.2|386.63|29.93|16.5|
| 10|0.17004|12.5| 7.87|   0|0.524|6.004| 85.9|6.5921|  5|311|   15.2|386.71| 17.1|18.9|
| 11|0.22489|12.5| 7.87|   0|0.524|6.377| 94.3|6.3467|  5|311|   15.2|392.52|20.45|15.0|
| 12|0.11747|12.5| 7.87|   0|0.524|6.009| 82.9|6.2267|  5|311|   15.2| 396.9|13.27|18.9|
| 13|0.09378|12.5| 7.87|   0|0.524|5.889| 39.0|5.4509|  5|311|   15.2| 390.5|15.71|21.7|
| 14|0.62976| 0.0| 8.14|   0|0.538|5.949| 61.8|4.7075|  4|307|   21.0| 396.9| 8.26|20.4|
| 15|0.63796| 0.0| 8.14|   0|0.538|6.096| 84.5|4.4619|  4|307|   21.0|380.02|10.26|18.2|
| 16|0.62739| 0.0| 8.14|   0|0.538|5.834| 56.5|4.4986|  4|307|   21.0|395.62| 8.47|19.9|
| 17|1.05393| 0.0| 8.14|   0|0.538|5.935| 29.3|4.4986|  4|307|   21.0|386.85| 6.58|23.1|
| 18| 0.7842| 0.0| 8.14|   0|0.538| 5.99| 81.7|4.2579|  4|307|   21.0|386.75|14.67|17.5|
| 19|0.80271| 0.0| 8.14|   0|0.538|5.456| 36.6|3.7965|  4|307|   21.0|288.99|11.69|20.2|
| 20| 0.7258| 0.0| 8.14|   0|0.538|5.727| 69.5|3.7965|  4|307|   21.0|390.95|11.28|18.2|
+---+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
only showing top 20 rows

In [6]:
# Printing schema
house_df.cache()
house_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- black: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)


The toPandas() method in PySpark is used to convert a DataFrame to a Pandas DataFrame. This is often done when you want to work with the data locally in Python after processing it in Spark.

In [7]:
## Descriptive analysis
house_df.toPandas()

,_c0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [ ]:
# import pandas as pd
# from matplotlib import cm
# from pandas.plotting import scatter_matrix
# numeric_features = [t[0] for t in house_df.dtypes if t[1] == 'int' or t[1] == 'double']
# sampled_data = house_df.select(numeric_features).sample(False, 0.8).toPandas()
# axs = scatter_matrix(sampled_data, figsize=(10, 10))
# n = len(sampled_data.columns)
# for i in range(n):
#     v = axs[i, 0]
#     v.yaxis.label.set_rotation(0)
#     v.yaxis.label.set_ha('right')
#     v.set_yticks(())
#     h = axs[n-1, i]
#     h.xaxis.label.set_rotation(90)
#     h.set_xticks(())

This creates a VectorAssembler object called vectorAssembler. It takes two main parameters:

inputCols: A list of column names to assemble into the feature vector.
outputCol: The name of the output column that will contain the assembled feature vectors.

This applies the VectorAssembler transformation to the DataFrame house_df, adding a new column named 'features' containing the assembled feature vectors.

This selects only the 'features' column and the 'medv' column (median value of owner-occupied homes) from the transformed DataFrame vhouse_df

In [8]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat'], outputCol = 'features')
vhouse_df = vectorAssembler.transform(house_df)
vhouse_df = vhouse_df.select(['features', 'medv'])
vhouse_df.show(3)

+--------------------+----+
|            features|medv|
+--------------------+----+
|[0.00632,18.0,2.3...|24.0|
|[0.02731,0.0,7.07...|21.6|
|[0.02729,0.0,7.07...|34.7|
+--------------------+----+
only showing top 3 rows

house_df.select(i): This selects the column named i from the DataFrame house_df.
.take(1): This retrieves the first row of the DataFrame as a list.
[0][0]: This accesses the first element of the first row, effectively retrieving the value of the first element in the column.
isinstance(): This is a Python built-in function used to check if an object (in this case, the first value of the column) is an instance of a particular class or type.
six.string_types: This is a tuple containing string types from both Python 2 and 3, provided by the six module. It includes str in Python 3 and basestring in Python 2.
Putting it all together, the isinstance() function is checking if the first value of the column i is not of string type. If it's not a string, it implies that the column is numeric or of some other non-string type. This check is necessary before performing numeric operations like correlation calculations, as strings cannot be correlated with numeric values.

In [9]:
import six
for i in house_df.columns:
    if not( isinstance(house_df.select(i).take(1)[0][0], six.string_types)):
        print( "Correlation to medv for ", i, house_df.stat.corr('medv',i))

Correlation to medv for  _c0 -0.22660364293533927
Correlation to medv for  crim -0.38830460858681154
Correlation to medv for  zn 0.3604453424505433
Correlation to medv for  indus -0.4837251600283728
Correlation to medv for  chas 0.1752601771902987
Correlation to medv for  nox -0.4273207723732821
Correlation to medv for  rm 0.6953599470715401
Correlation to medv for  age -0.3769545650045961
Correlation to medv for  dis 0.249928734085904
Correlation to medv for  rad -0.38162623063977735
Correlation to medv for  tax -0.46853593356776674
Correlation to medv for  ptratio -0.5077866855375622
Correlation to medv for  black 0.3334608196570661
Correlation to medv for  lstat -0.7376627261740145
Correlation to medv for  medv 1.0

In [10]:
splits = vhouse_df.randomSplit([0.7, 0.3])
train_df = splits[0]
test_df = splits[1]
#train_df,test_df=vhouse_df.randomSplit([0.7,0.3])

In [11]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='medv', maxIter=10)
lr_model = lr.fit(train_df)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

Coefficients: [-0.04493109084944115,0.03802964506640723,-0.02926887475000392,3.571908453163485,-17.412544055865837,4.4187563461736,0.0002541544491097291,-1.408542016491922,0.24412192425776144,-0.011104793434733364,-0.9670363702622206,0.01081484049215095,-0.4265238207584629]
Intercept: 31.037325520806316

In [12]:
trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 4.436565
r2: 0.752717

In [13]:
lr_predictions = lr_model.transform(test_df)
lr_predictions.select("prediction","medv","features").show(5)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="medv",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
|31.644653814309237|32.2|[0.00906,90.0,2.9...|
|31.097307151408252|29.1|[0.01439,60.0,2.9...|
| 37.00907499483296|44.0|[0.01538,90.0,3.7...|
|20.205010632051906|20.1|[0.01965,80.0,1.7...|
| 42.89384361742501|50.0|[0.02009,95.0,2.6...|
+------------------+----+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.702398

In [14]:
print("numIterations: %d" % trainingSummary.totalIterations)
print("objectiveHistory: %s" % str(trainingSummary.objectiveHistory))
trainingSummary.residuals.show()

numIterations: 0
objectiveHistory: [0.0]
+-------------------+
|          residuals|
+-------------------+
|-5.9247405300228415|
| -5.394402323502554|
| 1.9487567489216673|
|   4.57463902074829|
| 3.4480427205619026|
|  9.216449744704384|
|-0.7870770728191729|
|-2.6194610627941515|
|  4.436429470087354|
|  5.238246239044912|
| 2.4729810489935744|
| -1.655016194473962|
|  9.002492793857485|
|  5.254837292560445|
|-0.7638282436127994|
|-3.5398939365105306|
| -2.885570383272512|
| 4.0855424798167554|
| 3.5904309021415486|
|-0.5360632009767521|
+-------------------+
only showing top 20 rows

In [15]:
predictions = lr_model.transform(test_df)
predictions.select("prediction","medv","features").show()

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
|31.644653814309237|32.2|[0.00906,90.0,2.9...|
|31.097307151408252|29.1|[0.01439,60.0,2.9...|
| 37.00907499483296|44.0|[0.01538,90.0,3.7...|
|20.205010632051906|20.1|[0.01965,80.0,1.7...|
| 42.89384361742501|50.0|[0.02009,95.0,2.6...|
|24.495076471518047|24.7|[0.02055,85.0,0.7...|
| 22.75777966576431|16.5|[0.02498,0.0,1.89...|
|30.547748618151896|34.7|[0.02729,0.0,7.07...|
|25.040821496974914|21.6|[0.02731,0.0,7.07...|
| 30.56224249270952|30.8|[0.02763,75.0,2.9...|
|29.809106667198616|34.9|[0.0315,95.0,1.47...|
| 28.58975552551531|33.4|[0.03237,0.0,2.18...|
| 33.45405384139176|34.9|[0.03359,75.0,2.9...|
| 28.79200829907408|24.1|[0.03445,82.5,2.0...|
|41.721154644869905|48.5|[0.0351,95.0,2.68...|
|28.719534882141396|22.0|[0.03537,34.0,6.0...|
|24.585572279351226|22.9|[0.03551,25.0,4.8...|
|21.242754389377286|20.7|[0.03738,0.0,5.19...|
| 26.36703482648067|23.2|[0.03871,52.5,5.3...|
|27.421968941871256|22.0|[0.03932,0.0,3.41...|
+------------------+----+--------------------+
only showing top 20 rows

## Decision tree regression

In [16]:
from pyspark.ml.regression import DecisionTreeRegressor
dt = DecisionTreeRegressor(featuresCol ='features', labelCol = 'medv')
dt_model = dt.fit(train_df)
dt_predictions = dt_model.transform(test_df)
dt_evaluator = RegressionEvaluator(
    labelCol="medv", predictionCol="prediction", metricName="rmse")
rmse = dt_evaluator.evaluate(dt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 4.08266

In [17]:
lr_evaluator.evaluate(dt_predictions)

0.8234582044601688

In [18]:
dt_model.featureImportances

SparseVector(13, {0: 0.0248, 2: 0.0055, 4: 0.0165, 5: 0.3111, 6: 0.0043, 7: 0.071, 10: 0.0208, 11: 0.0084, 12: 0.5375})

In [19]:
house_df.take(1)

[Row(_c0=1, crim=0.00632, zn=18.0, indus=2.31, chas=0, nox=0.538, rm=6.575, age=65.2, dis=4.09, rad=1, tax=296, ptratio=15.3, black=396.9, lstat=4.98, medv=24.0)]

## Gradient-boosted tree regression

In [20]:
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol = 'features', labelCol = 'medv', maxIter=10)
gbt_model = gbt.fit(train_df)
gbt_predictions = gbt_model.transform(test_df)
gbt_predictions.select('prediction', 'medv', 'features').show(5)

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
|31.601352199003433|32.2|[0.00906,90.0,2.9...|
| 24.90985753009525|29.1|[0.01439,60.0,2.9...|
| 32.95700248570444|44.0|[0.01538,90.0,3.7...|
|19.215097518164807|20.1|[0.01965,80.0,1.7...|
| 48.58339103675291|50.0|[0.02009,95.0,2.6...|
+------------------+----+--------------------+
only showing top 5 rows

In [21]:
gbt_evaluator = RegressionEvaluator(
    labelCol="medv", predictionCol="prediction", metricName="rmse")
rmse = gbt_evaluator.evaluate(gbt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 4.08063

In [ ]:
#practice

In [ ]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

In [ ]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [ ]:
pdf

                   A         B         C         D
2013-01-01 -0.388365 -1.123547 -0.610669 -0.407573
2013-01-02  0.837287 -2.091099 -0.543520 -0.612496
2013-01-03 -0.216492 -0.375785  0.570668 -1.042901
2013-01-04  0.457425 -0.260510 -1.061202 -0.654600
2013-01-05  0.201654  2.874761  0.596922  1.190109
2013-01-06  2.837447 -0.249437 -1.944373  0.441123

In [ ]:
psdf = ps.from_pandas(pdf)

In [ ]:
type(psdf)

pyspark.pandas.frame.DataFrame

In [ ]:
psdf

                   A         B         C         D
2013-01-01 -0.388365 -1.123547 -0.610669 -0.407573
2013-01-02  0.837287 -2.091099 -0.543520 -0.612496
2013-01-03 -0.216492 -0.375785  0.570668 -1.042901
2013-01-04  0.457425 -0.260510 -1.061202 -0.654600
2013-01-05  0.201654  2.874761  0.596922  1.190109
2013-01-06  2.837447 -0.249437 -1.944373  0.441123

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
sdf = spark.createDataFrame(pdf)

In [ ]:
sdf.show()

+--------------------+--------------------+-------------------+--------------------+
|                   A|                   B|                  C|                   D|
+--------------------+--------------------+-------------------+--------------------+
| -0.3883648823059467|  -1.123546652378582|-0.6106687613863858|-0.40757334166737963|
|  0.8372865889294201|   -2.09109918896786|  -0.54352044115218| -0.6124960276500431|
|-0.21649168925179124| -0.3757853894078164| 0.5706684381723268|  -1.042901462549922|
| 0.45742475360608403|-0.26051039781376023|-1.0612018382310175| -0.6546000447958591|
| 0.20165423177026665|    2.87476104219674|  0.596922059947697|   1.190109491214193|
|  2.8374466441215604|-0.24943665048222652| -1.944373025235914| 0.44112325611377906|
+--------------------+--------------------+-------------------+--------------------+

In [ ]:
psdf = sdf.pandas_api()

In [ ]:
psdf

          A         B         C         D
0 -0.388365 -1.123547 -0.610669 -0.407573
1  0.837287 -2.091099 -0.543520 -0.612496
2 -0.216492 -0.375785  0.570668 -1.042901
3  0.457425 -0.260510 -1.061202 -0.654600
4  0.201654  2.874761  0.596922  1.190109
5  2.837447 -0.249437 -1.944373  0.441123

In [ ]:
psdf.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [ ]:
psdf.head()

          A         B         C         D
0 -0.388365 -1.123547 -0.610669 -0.407573
1  0.837287 -2.091099 -0.543520 -0.612496
2 -0.216492 -0.375785  0.570668 -1.042901
3  0.457425 -0.260510 -1.061202 -0.654600
4  0.201654  2.874761  0.596922  1.190109

In [ ]:
psdf.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [ ]:
psdf.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
psdf.to_numpy()

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([[-0.38836488, -1.12354665, -0.61066876, -0.40757334],
       [ 0.83728659, -2.09109919, -0.54352044, -0.61249603],
       [-0.21649169, -0.37578539,  0.57066844, -1.04290146],
       [ 0.45742475, -0.2605104 , -1.06120184, -0.65460004],
       [ 0.20165423,  2.87476104,  0.59692206,  1.19010949],
       [ 2.83744664, -0.24943665, -1.94437303,  0.44112326]])

In [ ]:
psdf.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.621493 -0.204270 -0.498696 -0.181056
std    1.173220  1.668547  0.976203  0.833268
min   -0.388365 -2.091099 -1.944373 -1.042901
25%   -0.216492 -1.123547 -1.061202 -0.654600
50%    0.201654 -0.375785 -0.610669 -0.612496
75%    0.837287 -0.249437  0.570668  0.441123
max    2.837447  2.874761  0.596922  1.190109

In [ ]:
psdf.T

          0         1         2         3         4         5
A -0.388365  0.837287 -0.216492  0.457425  0.201654  2.837447
B -1.123547 -2.091099 -0.375785 -0.260510  2.874761 -0.249437
C -0.610669 -0.543520  0.570668 -1.061202  0.596922 -1.944373
D -0.407573 -0.612496 -1.042901 -0.654600  1.190109  0.441123

In [ ]:
psdf.sort_index(ascending=False)

          A         B         C         D
5  2.837447 -0.249437 -1.944373  0.441123
4  0.201654  2.874761  0.596922  1.190109
3  0.457425 -0.260510 -1.061202 -0.654600
2 -0.216492 -0.375785  0.570668 -1.042901
1  0.837287 -2.091099 -0.543520 -0.612496
0 -0.388365 -1.123547 -0.610669 -0.407573

In [ ]:
psdf.sort_values(by='B')

          A         B         C         D
1  0.837287 -2.091099 -0.543520 -0.612496
0 -0.388365 -1.123547 -0.610669 -0.407573
2 -0.216492 -0.375785  0.570668 -1.042901
3  0.457425 -0.260510 -1.061202 -0.654600
5  2.837447 -0.249437 -1.944373  0.441123
4  0.201654  2.874761  0.596922  1.190109